@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
}

body {
    background-color: gray;
}

#nav {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: rgb(15, 5, 168);
    padding: 0.5vh;
    gap: 10px;
}

.navContainer {
    height: 100%;
    flex: 1;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title {
    font-size: 2rem;
}

#startSort {
    width: 10rem;
    padding: 0.5rem;
}

#app {
    display: flex;
    width: 100%;
    height: 90vh;
    gap: 0.5rem;
    padding: 1vh;
}
.arrayItem {
background-color: lightblue;
height: 50px;
flex: 1;
}