@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        color: #041B15;
}

@keyframes swapForward {
    from {
        transform: none;
    }

    to {
        transform: translateX(var(--distance));
    }
}

@keyframes swapBackward {
    from {
        transform: none;
    }

    to {
        transform: translateX(calc(var(--distance) * -1));
    }
}

body {
    max-width: 100vw;
    max-height: 100vh;
    background-color: #22AAA1;
}

#nav {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: #136F63;
    padding: 0.5vh;
    gap: 10px;
}

.navContainer {
    height: 100%;
    flex: 1;
    border-right: 4px #22AAA1 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lastNav {
    border-right: none;
}
#title {
    font-size: 2rem;
}

#startSort {
    width: 10rem;
    padding: 0.5rem;
}

#app {
    display: flex;
    width: 100%;
    height: 90vh;
    gap: 0.5rem;
    padding: 1vh;
}
.arrayItem {
background-color: #4CE0D2;
height: 50px;
flex: 1;
display: flex;
justify-content: center;
border-radius: 2vh;
border: 0.1vh solid #041B15;
}
.slideContainer {
    display: flex;
    gap: 1rem;
}